:root {
  --main-bg-color: #edf5fe;
  --light-blue: #03a9f4;
  --border-color: #58abfb;
  --container-width: 500px;
}

body {
  font-family: system-ui;
  background: var(--main-bg-color);
  height: 98vh;
  overflow: hidden;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-container,
.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-container,
.drop-zone {
  flex-direction: column;
}

.upload-container {
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 0px #00000017;
  transition: 1s;
}

.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px dashed var(--border-color);
  border-radius: 10px;
  margin: 30px;
  transition: 0.2s all ease-in;
}

/* will be added when user drags */
.drop-zone.dragged {
  background: #62b0fb3b;
  border-color: #0288d1;
}

.drop-zone input {
  display: none;
}

.icon-container {
  position: relative;
  width: 75px;
  height: 100px;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  transform-origin: bottom;
}

.icon-container .center {
  z-index: 10;
}

.icon-container .right,
.icon-container .left {
  filter: grayscale(0.5);
  transform: scale(0.9);
}

.dragged .center {
  transform: translateY(-5 px);
}

.dragged .right {
  transform: rotate(20deg) scale(0.9) translateX(22px);
}

.dragged .left {
  transform: rotate(-20deg) scale(0.9) translateX(-22px);
}

.title {
  font-size: large;
}

#browseBtn {
  color: #107be8;
  cursor: pointer;
}

/* Progress bar CSS */

.progress-container {
  border: 2px solid #0288d1a6;
  width: var(--container-width);
  height: 70px;
  border-radius: 10px;
  margin-bottom: 25px;
  position: relative;
  display: none;
}

.progress-container .inner-container {
  margin: 8px 15px;
  z-index: 2;
  position: absolute;
  width: calc(100% - 30px);
}

.progress-container .percent-container {
  font-size: 14px;
  margin: 5px;
  opacity: 0.8;
}

.progress-container .bg-progress {
  position: absolute;
  background: #62b0fb3b;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: transform 250ms linear;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-container .progress-bar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #03a9f4;
  transition: transform 200ms linear;
  transform: scaleX(0);
  transform-origin: left;
}

/* sharing container style */

.sharing-container {
  margin-bottom: 25px;
  width: var(--container-width);
  border-radius: 10px;
  display: none;
}

.sharing-container p {
  text-align: center;
  font-size: 17px;
  opacity: 0.9;
  margin-top: 0;
}

.sharing-container .input-container {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.sharing-container .input-container input {
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 20px;
  border: 2px dashed var(--border-color);
  border-radius: 6px;
  background: #83bcf33b;
  color: #383b3edb;
}

.sharing-container img {
  height: 22px;
  width: 30px;
  position: absolute;
  right: 7px;
  top: 12px;
  cursor: pointer;
}

/* Gmail CSS */
.email-container form {
  border: 2px solid var(--border-color);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-container,
.send-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-container label {
  margin: 5px;
  font-size: 18px;
}

.email-container input {
  border: none;
  border-bottom: 2px solid var(--border-color);
  height: 19px;
  font-size: 17px;
  text-align: center;
}

.email-container input:focus {
  outline: none;
}

.email-container .filed {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.send-btn-container button {
  font-size: 18px;
  padding: 8px 40px;
  margin-top: 15px;
  background: #83bcf33b;
  border: none;
  border-radius: 5px;
  color: #383b3e;
  cursor: pointer;
}

/* toast css */
.toast {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translate(50%, 100px);
  padding: 10px 20px;
  background: var(--light-blue);
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform ease-in-out 0.5s;
}

.show.toast {
  transform: translate(50%, -30px);
  right: 50%;
}

.image-vector {
  width: 50vw;
  height: 50vh;
  background: url(./img/undraw_upload.svg) no-repeat center;
  background-size: contain;
}

.footer-section {
  width: 100%;
  background-color: #00000054;
  color: #FFF;
  text-align: center;
  position: absolute;
  bottom: 0px;
  font-weight: 500;
}

.footer-section .name {
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-section p {
  padding: 0;
  margin: 8px;
}

.footer-section span {
  color: #1e70c1;
}

/* Responsive */
@media screen and (max-width: 900px) {
  :root {
    --container-width: 300px;
  }

  .image-vector {
    width: 70vw;
  }

  .toast {
    right: 120%;
  }

  body {
    flex-direction: column-reverse;
    height: 65vh;
    overflow: scroll;
  }

  .upload-container {
    margin: 20px 0px;
  }

  .email-container .filed {
    flex-direction: column;
    width: 240px;
  }

  .footer-section .name {
    flex-direction: column;
  }

  .footer-section p {
    padding: 0;
    margin: 4px;
  }

  .show.toast {
    transform: translate(50%, -55px);
    right: 50%;
  }
}